/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --coffee-with-excessive-milk: #FEFFE7;
  --coffee-with-milk: #FED2A1;
  --coffee-lame: #A97953;
  --coffee-normal: #644431;
  --coffee-dark: #47362C;
  --coffee-souless: #32281F;
  --coffee-red: #A26666;
}

body {
  background: var(--coffee-with-excessive-milk);
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

.header .nav-bar {
  --edge-padding: 2em;
  background: var(--coffee-red);
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 1.25em;
  margin: 2em var(--edge-padding);
  width: calc(100% - calc(var(--edge-padding) * 2));
}

.header .nav-bar .title {
  color: var(--coffee-souless);
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4em;
  margin-top: 0;
  margin-left: -0.25em;
  margin-bottom: 0;
  position: relative;
  width: 5em;
}

.header ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 0;
  width: 100%;
}

.header ul li, .footer ul li {
  display: inline;
  margin-left: 1vw;
  margin-right: 1vw;
}

.header ul li a {
  border-bottom: 2px solid var(--coffee-normal);
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.header ul li a:hover {
  color: var(--coffee-souless);
}

.content {
  min-height: calc(100vh - 100px);
}

.footer {
  --edge-padding: 2vw;
  background: var(--coffee-souless);
  color: white;
  height: 70px;
  margin-top: 2em;
  padding: 0.3em var(--edge-padding); 
  width: calc(100% - calc(--edge-padding * 2));
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.footer ul li a {
  border-bottom: 1px solid var(--coffee-with-milk);
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.footer ul li a:hover {
  color: var(--coffee-with-milk);
}

