// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'videos.scss';

$image-height: 350px;
$button-buffer: 100px;
$image-width: calc(#{$image-height} * 3 / 4);
$report-container-width: calc((#{$image-width} * 2) + 10px);

.date-picker {
  font-size: 1em;
  font-family: 'Heebo', sans-serif;
}

.year-container {
  .year {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .reports-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .report-container {
      $margin-right: 1em;
      margin: 1em $margin-right;
      width: $report-container-width;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      border-radius: 10px;
      box-shadow: 5px 5px 20px 0px rgb(19, 17, 17);

      .photo-container {
        height: $image-height;
        width: $image-width;
        // Required for absolute positioning in .date and .picture to be pegged to this class
        position: relative;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .date {
          position: absolute;
          z-index: 1;
          margin: 0;
          left: calc(#{$report-container-width} - 1em);
          top: -0.75em;
          font-size: 1.25em;
          font-weight: 700;
          color: black;
        }

        .picture {
          z-index: 0;
          height: $image-height;
          width: $image-width;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      @media screen and (max-width: 690px) {
        .photo-container {
          flex: 100%;
          width: 100%;
          height: calc((100vw - 9.1em) * 4 / 3);

          .date {
            left: calc(100% - 1em);
          }

          .picture {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 10px;
          }
        }
      }

      .notes-container {
        color: black;
        background: $coffee-with-excessive-milk;
        margin: 0;
        padding: 0 10px;
        height: $image-height;
        width: calc(#{$image-width} - 10px);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: scroll;

        .button {
          border: 1px solid $coffee-souless;
        }
      }

      @media screen and (max-width: 690px) {
        .notes-container {
          width: calc(100% - 1em);
          border-top-right-radius: 0px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }

    @media screen and (max-width: 690px) {
      .report-container {
        width: 100%;
        flex-direction: row;
      }
    }
  }
}

.videos-page-container {
  .report-edit-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .report-picture {
      flex-basis: $image-width;
      margin-right: 2em;
    }

    .report-notes {
      flex-basis: calc(97% - #{$image-width} - 2em);

      p {
        margin-top: 0;
      }
    }

    @media only screen and (max-width: 730px) {
      .report-notes {
        flex-basis: 100%;
      }
    }
  }
}
