// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$coffee-with-excessive-milk: #FEFFE7;
$coffee-with-milk: #47362C;
$cofee-lame: #A97953;
$coffee-normal: #644431;
$coffee-dark: #47362C;
$coffee-souless: #32281F;
$coffee-red: #A26666;

.page-title {
  color: $coffee-souless;
  font-family: 'Playfair Display', serif;
  margin-left: 0.5em;
  margin-top: 0;
  font-size: 2.5em;
  margin-bottom: -0.5em;
}

.videos-container {
  background: $coffee-red;
  color: $coffee-with-excessive-milk;
  margin-left: 2.5em;
  margin-right: 2.5em;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  border-radius: 10px;
}

.video-link-entry-form {
  margin-bottom: 0;
}

.new-video-container {
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-video-button {
  color: $coffee-souless;
  background: $coffee-with-excessive-milk;
  padding: 0.25em 0.65em;
  font-size: 1.5em;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.2s;
}

.new-video-button:hover {
  color: $coffee-with-excessive-milk;
  background: $coffee-souless;
  transition: 0.2s;
}

.new-video {
  text-decoration: none;
  color: $coffee-with-excessive-milk;
  margin-left: 0.5em;
  margin-top: 5px;
}

.button {
  border-radius: 5px;
  color: $coffee-souless;
  background: $coffee-with-excessive-milk;
  padding: 0.5vw;
  transition: 0.3s;
  text-decoration: none;
}

.button:hover {
  color: $coffee-with-excessive-milk;
  background: $coffee-souless;
  transition: 0.3s;
}

.video-notes {
  margin: 1vw;
  color: $coffee-with-excessive-milk;
}

%form-entry {
  border-radius: 5px;
  border: 2px solid $coffee-with-excessive-milk;
  padding: 10px;
  color: $coffee-with-excessive-milk;
  background: rgba(0, 0, 0, 0);
  font-size: 1em;
}

.text-field-form {
  @extend %form-entry;
  width: calc(100% - 2em);
}

.free-text-entry-form {
  @extend %form-entry;
  width: calc(100% - 2em);
  height: 15em;
  resize: none;
}

.create-video {
  background: $coffee-with-excessive-milk;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  color: $coffee-souless;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  transition: 0.2s;
}

.create-video:hover {
  background: $coffee-souless;
  color: $coffee-with-excessive-milk;
  transition: 0.2s;
}

